
/* outer outer area */

#outer_outer{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	position: relative;
	width: 100%;	
	max-width: 700px;
	overflow: hidden;
	border: 1px solid rgb( 200, 200, 200 );
    font-family: 'Nunito Sans', sans-serif;
}


/* header area */ 

#header{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	position: relative;
	width: 100%;	
	max-width: 700px;
	padding: 20px;
	font-size: 30px;
	color: black;
	/* test… */
    box-shadow: box-shadow: 5px 10px;
}

#header_subtext{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	position: relative;
	font-size: 20px;
	color: black;
}


/* image area */ 

#image_area_outer{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
	position: relative;
	padding: 1px;
	width: 100%;
	min-height: 400px;
	background-color: hsla(0, 0%, 95%, 1);
}

#image_image_outer{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
	position: relative;
	left: 0px;
	top: 0px;
	width: 90%;
	margin: 5%;
}

#image_image{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
	position: relative;
	top: 0px;
	min-height: 250px;
	background-image: url( images/no.svg );
	background-repeat: no-repeat;
	background-position: center center; 
	/* background-size: 100% auto;	*/
	background-size: cover;  
	background-color: white;
}

#image_central_area{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
    position: absolute;
    top: 20%;
    min-height: 50px;
	width: 100%;	
	text-align: left;
	color: rgb( 109, 81, 8);
}

#image_MAIN_text_area{
	font-size: 22px;
	padding: 20px;
    padding-left: 10%;
	background-image: url( images/transparentBackground_90pc.png );	
}
#image_SUB_text_area{
	font-size: 22px;
	padding: 20px;
    padding-left: 10%;	
	background-image: url( images/transparentBackground_70pc.png );	
}


/* text qualities */

.bold_weight_text{
	font-weight: 800;
}

.normal_weight_text{
	font-weight: 400;
}

/* footer area */ 

#footer{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
	position: relative;	
	padding: 20px;
    height: 14vw;
    max-height: 95px;
    background-color: rgb( 230,230,230 );
}

#button_back{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
	position: absolute;
	left: 42%;
	bottom: 15%;
	width: 10vw;
	max-width: 70px;
	height: 10vw;
	max-height: 70px;
	background-image: url( images/back.svg );
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% auto;
	/* background-color: white;	 */
}

#button_no{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
	position: absolute;
	left: 35%;
	bottom: 15%;
	width: 10vw;
	max-width: 70px;
	height: 10vw;
	max-height: 70px;
	background-image: url( images/no.svg );
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% auto;
	/* background-color: white;	 */
}

#button_yes{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
	position: absolute;
	left: 50%;
	bottom: 15%;
	width: 10vw;
	max-width: 70px;
	height: 10vw;
	max-height: 70px;
	background-image: url( images/yes.svg );
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% auto;
	/* background-color: white;	 */
}

#button_next{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
	position: absolute;
	right: 10%;
	bottom: 15%;
	width: 10vw;
	max-width: 70px;
	height: 10vw;
	max-height: 70px;
	background-image: url( images/next.svg );
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% auto;
	/* background-color: white;	 */
}
